.button {
background: #d3394c;
padding: 13px 26px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
border: 0px;
color: #ffffff;
font-size: 21px;
font-family: Helvetica, Arial, Sans-Serif;
text-decoration: none;
vertical-align: middle;
}
.button:hover {
border-top-color: #722040;
background: #722040;
color: #ffffff;
}
.button:active {
border-top-color: #d3394c;
background: #d3394c;
}
/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color:#d3394c;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: #FFFFFF;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #d3394c;
}

input:focus + .slider {
box-shadow: 0 0 1px #d3394c;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider {
border-radius: 0px;
}

.slider:before {
border-radius: 00%;
}
.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}
.Row {
display: table;
width: 100%;
table-layout: fixed;
border-spacing: 10px;
justify-content: center;
}
.Column {
display: table-cell;
vertical-align: middle;
}

.centered-wrapper {
  position: relative;
  text-align: center;
}
.centered-wrapper:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.centered-content {
  display: inline-block;
  vertical-align: middle;
}

.jLeft {
  text-align: left;
}

.jRight {
  text-align: right;
}

.jCenter {
  width: 10%;
}

@media (max-width : 415px) {
  .jCenter {width: 20%;}
}